.bg-container {
  height: 150vh;
  width: 100vw;
}

.heading {
  color: #000;
  text-align: center;
  font-family: "Roboto";
  font-weight: bold;
}

.heading-1 {
  color: #fff;
  text-align: center;
  font-family: "Roboto";
}

.dropdown-cont {
  display: flex;
  justify-content: space-between;
}

select,
input {
  padding: 8px;
  margin: 5px 0;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

thead {
  color: #333;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

tbody tr:hover {
  background-color: #e0e0e0;
}

.pagination {
  margin-top: 10px;
  padding: 8px;
  margin: 25px;
  cursor: pointer;
  background-color: #5a8dee;
  border-radius: 5px;
  color: #ffffff;
  border-width: 0px;
  width: 10vh;
}

.statistics-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 20vh;
  width: 30vw;
}

.select-element {
  font-family: "Roboto";
  font-family: bold;
  width: 20vh;
  cursor: pointer;
}

.chart-container {
  display: flex;
  justify-content: space-between;
}

.bottom-container {
  margin-top: 40px;
  background-color: #5a8dee;
  padding: 20px;
}

.input-value {
  width: 35vh;
  outline: none;
}

.image {
  height: 90px;
}

.search-input {
  display: flex;
  align-items: center;
}

.search-icon {
  background-color: #ffffff;
  padding: 8.8px;
  cursor: pointer;
}

.select-element-2 {
  width: 30vh;
  outline: none;
  cursor: pointer;
}

.no-item {
  align-items: center;
  text-align: center;
  color: #000000;
  font-weight: bold;
  padding: 40px;
}

@media screen and (min-width: 600px) and (max-width: 767px) {
  .bg-container {
    font-size: 14px;
  }

  .search-input {
    width: 100%;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 599px) {
  .bg-container {
    font-size: 12px;
  }
}

@media screen and (max-width: 767px) {
  .chart-container {
    flex-direction: column;
  }

  .statistics-container,
  .bottom-container {
    width: 100%;
  }
}
